@import "tailwindcss";

@font-face {
  font-family: "Gltp Starion";
  src: url("/fonts/GltipStarion.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #1d85c2;
}

@theme inline {
  --color-text-light: #1d85c2;
  --color-text-dark: #74ccff;
  --color-text-neon: #ffcd18;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #74ccff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Gltp Starion", Helvetica, sans-serif;
}
